body {
   background: gray; 
}


ul {
    list-style: none;
    padding-left: 0px;
}

body > section {
    border: 3px;
    border-style: solid;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    background-color: antiquewhite;
    opacity: 70%;
}

input:checked + span {
    text-decoration: line-through;
    color: red;
}

#notification-button {
   border-radius: 5px;
   margin: 20px;
}